* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'sans-serif';
}


body {
    font-family: 'Lato', sans-serif;
}

.link {
    color: white;
    text-decoration: none;
}

.increasefont {
    font-size: 35px;
    font-family: 'Pacifico', cursive;
}

:root {
    --main-color: #001F3F;
    --primary-color: #13C969;
}

.search-li {
    color: white;
}

.search-li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 30px 20px;
}

.search-ul {
    list-style-type: none;
    display: flex;
    align-items: baseline;
}


.search-li a {
    text-decoration: none;
}

.search-li a {
    color: white;
}

.search-ul {
    list-style-type: none;
}


.search-page {
    background: var(--main-color);
    min-width: 1300px;
}

.search-nav {
    color: white;
    padding: 1.3rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


.signup {
    background: var(--primary-color);
    border-radius: 5px;
    padding: 12px 15px;
}

.hr {
    border-color: rgba(255, 255, 255, 0.747);
}

.search-section {
    padding: 50px 55px;
}

.search-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.search-header_primary {
    font-size: 35px;
    font-weight: bold;
}

.search-header_secondary {
    padding: 2rem 0;
    color: white;
}

.header-btn {
    padding: 17px;
    border-radius: 5px;
    background: var(--primary-color);
    border: none;
    font-size: 20px;
    color: white;
    margin-left: 18px;
    cursor: pointer;
}

.header-inp {
    width: 491px;
    padding: 17px;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 20px;
    background: var(--main-color);
    border: 1px 1px solid white;
    color: white;
}

.header-inp::-webkit-input-placeholder {
    font-weight: 200;
    color: rgba(255, 255, 255, 0.603);
}

.search-logo {
    font-size: 35px;
    font-family: 'Pacifico', cursive;
}


.filter-left,
.filter-right {
    display: flex;
}



.filter-1_header,
.filter-2_header {
    align-self: center;
    justify-self: center;
    font-size: 10px;
    margin-right: 1rem;
}

.filter-1,
.filter-2 {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    margin: 0 1rem;
}


.filter-1:after,
.filter-2:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    right: 10px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
    color: rgb(48, 47, 53);
}

.yellow-item {
    color: #FFBF00;
}

.number {
    color: rgb(104, 100, 100);
    font-weight: 300;
}

.filter-1 select,
.filter-2 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    display: flex;
    width: 150px;
    max-width: 320px;
    border-radius: 5px;
    height: 50px;
    margin: 5px 0;
    padding: 0px 35px 0 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}

/* DEVELOPER PAGE */

.developers-section {
    margin-top: 12vh;
    background: white;
    padding: 2rem 4rem;
    min-width: 1200px;
}

.developers {
    padding-bottom: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    min-width: 1200px;
}

/* DEVELOPER FILTER */
.developers-filter {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    background: rgba(240, 239, 239, 0.541);
    margin-bottom: 4rem;
}

.developer-details {
    position: relative;
    margin: 2rem 3rem;
    display: flex;
}

.developer-detail {
    display: flex;
    flex-direction: column;
}

.developer-name {
    font-size: 34px;
    line-height: 42px;
    letter-spacing: 0.002em;
    margin-bottom: .5rem;
}

.developer-list {
    display: flex;
    list-style: none;
    margin-bottom: 1rem;
}

.developer-list_item {
    padding-right: 7px;
    font-weight: bold;
    font-size: 15px;
}

.developer-list_frontend {
    font-weight: bold;
    font-size: 15px;
}

.developer-list_item::before {
    content: "•";
    color: rgb(190, 200, 233);
    display: inline-block;
    width: 1em;
    margin-left: 1em
}

.developer-img {
    margin: 0 1rem;
}

.developer-img_main {
    width: 370px;
    height: 270px;
}


.developer-text {
    font-size: 16px;
    margin-bottom: auto;
}

.view-profile {
    position: absolute;
    top: 0;
    right: 0;
}

.view-btn {
    background: var(--primary-color);
    padding: 15px 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

/* DEVELOPER SKILLS */

.developer-skills_list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.developer-skills_item {
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    font-size: 13px;
    font-weight: 400;
    background: rgb(235, 232, 232);
    border: 1px solid rgba(66, 63, 63, 0.37);
    margin: 10px 10px 10px 0;
}

.developer-skills {
    margin-top: auto;
}

/* SIGNUP */
.developers-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}

.signup-btn {
    background: var(--primary-color);
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 20px;
    color: white;
    margin-top: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.signup-header {
    color: #001F3F;
    font-size: 35px;
    font-weight: 600;
}

/*COMPANY LOGOS*/
.company-logos {
    display: flex;
    margin: 3rem 0;
    justify-content: space-between;
}

.company-logo {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #001F3F;
    margin: 0 -16px;
}

/* FOOTER */
.bottom-section {
    min-width: 1300px;
}

.footer {
    background: var(--main-color);
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}


.footer-1_primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.footer-1_header {
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-1_text {
    font-weight: 400;
    font-size: 18px;
}

.footer-search {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.footer_inp {
    width: 100%;
    padding: 17px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    background: var(--main-color);
    border: 1px 1px solid white;
    color: white;
}

.footer-1_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.footer-1_register,
.footer-1_find {
    outline: none;
    border: none;
    padding: 13px 15px;
    font-size: 22px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 240px;
}

.footer-1_register {
    background: #C92813;
}

.footer-1_find {
    background: var(--primary-color);
}

.footer-2 {
    border-top: 2px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.footer-2_icons {
    width: 24px;
    height: 24px;
    margin: 0 15px;
    fill: white;
}

.footer-2_left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.footer-2_right {
    padding: 1rem;
}

.footer-2_remdev {
    color: var(--primary-color);
}

/* MEDIA QUERIES */
@media screen and (max-width: 425px) {

    .header-inp {
        width: 314px;
        margin-bottom: 1rem;
        padding: 10px;
        font-size: 15px;

    }

    .header-inp::-webkit-input-placeholder {
        font-weight: 100;
    }

    .header-btn {
        padding: 10px;
        font-size: 15px;
    }

    .search-header_secondary {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        color: white;
        justify-content: center;
        align-items: center;
    }

    .search-page {
        background: var(--main-color);
        min-width: 425px;
    }

    .view-profile {
        position: relative;
    }

    .search-nav {
        flex-direction: column;
    }

    .developers {
        min-width: 10px;
        margin: 0 auto;
    }

    .developers-section {
        min-width: 10px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-li a {
        font-size: 16px;
        padding: 15px 10px;
    }

    .bottom-section {
        min-width: 100px;
    }

    .developer-details {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
    }

    .developer-img {
        margin: 0;
    }

    .developer-img_main {
        width: 300px;
        height: 200px;
    }

    .developers-filter {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .signup-header {
        color: #001F3F;
        font-size: 20px;
        font-weight: 400;
        margin-left: 1rem;
    }

    .filter-left {
        display: flex;
        flex-direction: column;
    }

    .filter-1 select,
    .filter-2 select {
        width: 250px;
    }

    .shift-left {
        margin-left: 5rem;
    }

    .company-logos {
        display: flex;
        margin: 3rem 0;
        justify-content: space-evenly;
        width: 50%;
    }

    .developer-list_item {
        padding-right: 0;
    }

    .footer-search {
        width: 50%;

    }

    .developer-detail {
        flex-direction: column;
        align-items: center;
    }

    .footer_inp {
        width: 50%;
    }

    .footer-1_btns {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    .footer-1_header {
        font-size: 25px;
        font-weight: 500;
    }

    .footer-1_text {
        font-weight: 300;
        font-size: 14px;
    }

}

@media screen and (max-width: 325px) {
    .search-page {
        background: var(--main-color);
        width: auto;
    }

    .developers {
        min-width: 325px;
    }

}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 52.85em) {
    .navigation__button {
        top: 2rem;
        right: 2rem;
        height: 4rem;
        width: 4rem;
    }
}

.navigation__background {
    z-index: 1000;
    height: 4rem;
    width: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    background-image: -webkit-radial-gradient(var(--main-color), var(--primary-color));
    background-image: -o-radial-gradient(var(--main-color), var(--primary-color));
    background-image: radial-gradient(var(--main-color), var(--primary-color));
    -webkit-transition: all 0.6s cubic-bezier(0.86, 0, 0.7, 1);
    -o-transition: all 0.6s cubic-bezier(0.86, 0, 0.7, 1);
    transition: all 0.6s cubic-bezier(0.86, 0, 0.7, 1);
}

@media (max-width: 52.85em) {
    .navigation__background {
        top: 2.5rem;
        right: 2.5rem;
        height: 3rem;
        width: 3rem;
    }
}

.navigation__nav {
    position: relative;
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    z-index: 1500;
    left: 0;
    visibility: hidden;
    -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 35.31em) {
    .navigation__list {
        width: 100%;
    }
}

.navigation__item {
    margin: 2rem;
}

@media (max-width: 35.31em) {
    .navigation__item {
        margin: 0;
    }
}

.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    color: white;
    font-size: 3rem;
    padding: 1rem 2rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    background-image: -webkit-linear-gradient(290deg, transparent 0%, transparent 50%, #fff 50%);
    background-image: -o-linear-gradient(290deg, transparent 0%, transparent 50%, #fff 50%);
    background-image: linear-gradient(160deg, transparent 0%, transparent 50%, #fff 50%);
    -webkit-background-size: 300% 300%;
    background-size: 300%;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

@media (max-width: 35.31em) {

    .navigation__link:link,
    .navigation__link:visited {
        -webkit-background-size: 500% 500%;
        background-size: 500%;
        width: 100%;
        display: block;
    }
}

.navigation__link:link span,
.navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block;
}

@media (max-width: 35.31em) {

    .navigation__link:link span,
    .navigation__link:visited span {
        display: block;
        margin: 0;
    }
}

.navigation__link:link:hover,
.navigation__link:link:active,
.navigation__link:visited:hover,
.navigation__link:visited:active {
    background-position: 100%;
    color: #4abe36;
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    transform: translateX(2rem);
}

.navigation__checkbox:checked~.navigation__background {
    -webkit-transform: scale(100);
    -ms-transform: scale(100);
    transform: scale(100);
}

.navigation__checkbox:checked~.navigation__nav {
    visibility: visible;
    width: 100%;
}

.navigation__icon {
    position: relative;
    top: 2.5rem;
    left: 1.6rem;
}

@media (max-width: 52.85em) {
    .navigation__icon {
        top: 2rem;
        left: 1.3rem;
    }
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    position: absolute;
    height: 2px;
    width: 2rem;
    background-color: #333;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

@media (max-width: 52.85em) {

    .navigation__icon,
    .navigation__icon::before,
    .navigation__icon::after {
        width: 1.5rem;
    }
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    left: 0;
}

.navigation__icon::before {
    top: -0.8rem;
}

.navigation__icon::after {
    top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
    top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
    top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}